@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;700&family=Caveat:wght@400;500;600;700&display=swap');

html {
    --greytheme: (color :207, 204, 204) font-size: 400;
    font-family: 'Asap', sans-serif;
}

body {
    background: #eee;
}

* {
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: auto;
    padding-left: 250px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}

.header {
    float: left;
    margin-left: -250px;
    width: 250px;
    background: #f5f5f5;
    border-right: 1px solid rgba(0, 0, 0, .1);
    position: fixed;
    height: 100%;

}

.search {
    padding: 1rem;
    background: #f39c12;
}

.search-input {
    padding: .75rem 1rem;
    border: none;
    font-size: 1.2em;
    width: 100%;
    border-radius: 2rem;
}

.title {
    font-size: 2em;
    font-weight: bold;
    border-bottom: 3px solid #f39c12;
    padding-bottom: 1rem;
}

.nav-links {
    margin-top: 2rem;
    color: grey;
    list-style: none;

}




.nav-item {
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.3em;
    text-transform: uppercase;
    background-color: rgb(207, 204, 204);
    border-radius: 5px;
    padding: 1rem 1rem 1rem 1rem;

}

.nav-item-link--active {
    font-size: 1.2rem;
    border-bottom: #f39c12 solid 3px;
    text-decoration: none;
}

.nav-item-link {

    color: #111;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;

}

.nav-item:hover {
    background-color: #f39c12;
    transition: 500ms;
}



.page {
    padding: 5rem 2rem 2rem;
}

.content-focus {

    border-bottom: 3px solid #ccc;
    display: flex;
    flex-direction: wrap;
    justify-content: center;
}

.content-titles {
    width: 50%;
    font-size: 2.3vw;
    margin-right: 0;
    margin-left: 8vw;
    border-top: #f39c12 solid;
    text-align: right;

}

.content-title {
    margin: 0;
    vertical-align: top;
    max-width: 450px;
    margin-left: auto;
    font-size: 5rem;
}

.content-titles h1 {

    margin-left: auto;
    font-size: 3.65rem;
}

.content-titles h2 {

    max-width: 450px;
    margin-left: auto;
    font-size: 3rem;
}

.rounded {
    margin: auto 2rem;
    box-sizing: border-box;
    border-radius: 1rem;
    overflow: hidden;
}

.picture-desc {
    position: sticky;
    left: 0;
    bottom: 3.4rem;
    width: 100%;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.271);
    color: #fff;
    font-size: 1.2em;
    border-radius: 0rem 0rem 1rem 1rem;
}

.picture {
    width: 100%;
    border-radius: 1rem;
    display: block;
}

main h2 {
    color: rgb(207, 204, 204);

}

.content-picture {
    width: 70wh;

}

.content-quote {
    border-top: 3px solid #ccc;
    margin: 0 0;

}

.content p {
    font-size: 1.1em;
    line-height: 1.5;
}

.content h3 {
    font-size: 1.7em;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.content ol {
    list-style-type: decimal;
    font-size: 1.1em;
    line-height: 1.5;
}

.articles {
    margin-top: 5rem;
}

.articles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

article.card {
    width: 49%;
}



.card {
    margin-bottom: 2rem;
    justify-content: center;

}

.picture {
    margin: 0;
    padding: 0;
    width: 100%;
}

.card-title {
    margin: 2rem 1rem;
    font-size: 1.7em;
    font-weight: bold;
}

.card-content {
    padding: 0 1rem;
}

.card-content p {
    font-size: 1.1em;
    line-height: 1.5;
}

.card-footer {
    margin: 0rem 1rem;
}

footer {
    display: flex;
    justify-content: left;
}

footer .btn {
    padding: 0.8vh 2vh;
    margin-right: 1.5rem;
    font-size: 1.5rem;
    border: solid;
    border-color: #f39c12;
    border-radius: 2rem;
    color: #f39c12;
    text-decoration: none;
    text-align: center;
    font-weight: bold;

}




footer .btn:hover {
    background-color: #f39c12;
    color: white;
    transition: 300ms;


}

.footer {
    background: #111;
    padding: 4rem 2rem;
    text-align: center;
    color: #aaa;
}



@media screen and (max-width:1200px) {


    .content-focus {
        display: block;
    }

    .content-titles {
        width: auto;
        text-align: center;
        margin-bottom: 2rem;
        margin: 0;

    }

    div .content-title {
        max-width: none;
        font-size: 3rem;
    }

    div h2.content-title {
        max-width: none;
        font-size: 1.8rem;
    }

    .rounded {
        margin: 0;
    }

    .content-picture {
        width: auto;
    }

    .card-title {
        font-size: 1.5rem;
        margin: 1rem 1rem;
    }

    .card-content p {
        font-size: 1rem;

    }

    footer .btn {
        font-size: 1.2rem;
    }

}

@media screen and (max-width:500px) {
    .articles-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    article.card {
        width: 100%;
    }

    .content ol{
        font-size: 0.7rem;
    }

    main .presentation{
        font-size: 0.7rem;
    
     }

}

@media screen and (max-width:900px) {
    .nav-links {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .content-focus {
        flex-direction: column;
    }

    .content-titles h1 {
        font-size: 2.1rem;
        margin-bottom: 0.3rem;
    }

    .content-titles h2 {
        font-size: 1.8rem;
        margin-bottom: 0.3rem;
    }

    .header {
        position: static;
        width: auto;
        float: none;
        margin-left: 0;
    }

    .container {
        width: 96%;
        padding-left: 0;
    }

    .page {
        padding: 0 1rem;
    }

    .nav {
        padding: 1rem;
    }

    .nav .title {
        display: none;
    }

    .nav-links {
        margin-top: 0;
    }

    .nav-item {
        width: calc(33.3333% - .5rem);
        text-align: center;
    }

    .nav-item-link {
        margin-bottom: 0;
    }

}

@media screen and (max-width:380px) {

    header.header {
        width: 100%
    }

    .nav-item-link {
        font-size: 0.7rem;
    }

    .picture-desc {
        bottom: 3.18rem;
        font-size: 1em;

    }

    .card-title {
        font-size: 1.2rem;
        margin: 0.7rem 0.7rem;
    }

    .card-content p {
        font-size: 0.8rem;
        margin-top: 0;
    }
  

    footer .btn {
        font-size: 1rem;
    }

    footer .btn:nth-child(2) {
        font-size: 1rem;
    }


}

@media screen and (max-width:324px) {

    

    footer .btn:nth-child(2) {
        padding-top: 0.8rem;
    }
}